/******************************************************************************
 * Bootstrap variable overrides                                               *
 ******************************************************************************/

// Colours
$body-bg:                    #ffffff;//#e9ecf3;      // Page background
$brand-primary:              #6698c8;      // Hyperlinks
$brand-success:              #5cb85c;
$brand-info:                 #5bc0de;
$brand-warning:              #f0ad4e;
$brand-danger:               #d9534f;
$brand-error:                #a94442;
$brand-navigation:           #303e4d;      // Base colour for navigation elements
$brand-data-panel:           #f9f9f9;

// Entity colours
$brand-entity-person:        #6a1b9a;
$brand-entity-user:          #e53935;
$brand-entity-invoice:       #f1c40f;
$brand-entity-account:       #27ae60;
$brand-entity-pages:         #2980b9;
$brand-entity-images:        #d35400;

// Navbar
$navbar-width:               250px;
$navigation-heading:         lighten($brand-navigation, 40%);  //#ABB1B7;
$navigation-link:            lighten($brand-navigation, 40%);  //#ABB1B7;
$nav-link-hover:             lighten($brand-navigation, 40%);  //#ABB1B7;
$nav-link-hover-bg:          lighten($brand-navigation, 10%);  //#454545

// Dropdown menus
$dropdown-link-hover-bg:                   $brand-primary;
$dropdown-link-hover-color:                #ffffff;










$nav-tab-hover-bg:                         #eeeeee;
$navbar-default-toggle-hover-bg:           $brand-navigation;


$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       $brand-navigation;
$navbar-default-link-active-color:         #ffffff;
$navbar-default-link-active-bg:            $brand-primary;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;


// Tags
$tags-color:                               #ffffff;
$tags-default-bg:                          #708296;

// Typography
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all");
@import url(https://fonts.googleapis.com/css?family=Roboto);
$font-family-heading:        "Open Sans", Arial, Helvetica, sans-serif;
$font-family-sans-serif:     "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight:       300;
$text-size-large:            1.5em;

// Iconography
$icon-font-path: "../fonts/local/";

// Components
$border-radius-base:         0px;            // Remove round corners from all elements
$border-radius-large:        0px;            // Remove round corners from all elements
$border-radius-small:        0px;            // Remove round corners from all elements

// Layout
$layout-padding-width:       15px;

// Import Bootstrap default stylings
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/******************************************************************************
 * Start backend specific styles                                              *
 ******************************************************************************/

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  text-transform: lowercase;
  margin: 0;
}

.large {
    font-size: $text-size-large;
}

// Page layout
body {
    padding-top: $layout-padding-width;
    padding-bottom: $layout-padding-width;
    font-weight: 300;
    letter-spacing: 0;
}

.admin-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: $layout-padding-width;
    padding-right: $layout-padding-width;
}

.admin-container .fluid-container {
    margin-left: ($layout-padding-width * -1);
    margin-right: ($layout-padding-width * -1);
}

// Navigation
.nav-container {
    position: relative;
    min-height: 1px;
    margin-top: ($layout-padding-width * -1);
    padding-top: $layout-padding-width;
    padding-left: $layout-padding-width;
    padding-right: $layout-padding-width;
    background-color: $brand-navigation;
}

.nav-container .branding {
    position: relative;
    padding-bottom: $layout-padding-width;
    text-align: center;
}

.nav-container .branding a {
    color: $navigation-heading;
    font-size: $font-size-h3;
    font-family: $font-family-heading;
}

.nav-container .branding .nav-toggle {
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    width: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
    background-color: $brand-navigation;
    color: $nav-link-hover;
}

.nav-container .branding .nav-toggle:before {
    display: block;
    color: $nav-link-hover;
    content: "";
    width: 100%;
    padding-bottom: 0.125em;
    border-top: 0.375em double;
    border-bottom: 0.125em solid;
}

.nav-container .site-search {
    position: relative;
}

.nav-container .site-search .submit-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px 10px;
    color: #b7bcc8;
    background-color: transparent;
    border: 0;
    line-height: 0;
}

.nav-container .profile-button {
    display: inline-block;
    position: absolute;
    top: $layout-padding-width;
    right: $layout-padding-width;
}

.nav-container .dropdown-user {
    background: transparent;
    border: 0;
    padding: 0;
}

.nav-container .dropdown-user > img {
    display: inline-block;
    height: 35px;
    width: 35px;
}

.nav-container .dropdown-menu {
    right: 0;
    left: auto;
}

.nav-container .dropdown-toggle {
    color: $nav-link-hover;
}

.nav-container .nav-items {
    padding-bottom: $layout-padding-width;
}

.nav-container .nav-items ul.nav.nav-stacked li a {
    color: $navigation-link;
    margin-left: ($layout-padding-width * -1);
    margin-right: ($layout-padding-width * -1);
    padding-left: $layout-padding-width;
}
.nav-container .nav-items ul.nav.nav-stacked li a i {
    padding-right: 5px;
}

.nav-container .nav-items ul.nav.nav-stacked > li.active a {
    background-color: #ffffff;
    font-weight: 500;
    color: $brand-navigation;
}

.nav-container .nav-items ul.nav.nav-stacked > li.heading {
    padding: 10px 0 10px;
}

.nav-container .nav-items ul.nav.nav-stacked > li.heading > h3 {
    font-size: 13px;
    padding: 0;
    margin: 15px 0 0 0;
    font-weight: 600;
    text-transform: uppercase;
    color: $navigation-heading;
}

// Main content panel
.content-container {
    padding-left: $layout-padding-width;
    padding-right: $layout-padding-width;
    padding-top: $layout-padding-width;
}

.content-container hr {
    margin-top: 5px;
}

// Page heading
#page-header {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    position: relative;
    min-height: min-content;
    padding-bottom: $layout-padding-width;
}

#page-header .page-title {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    padding-bottom: $layout-padding-width;
}

#page-header .page-title h1 {
    display: inline;
    white-space: nowrap;
    margin-right: $layout-padding-width;
}

#page-header #extra-headers {
    flex-shrink: 0;
    padding-top: 5px;
    margin-left: $layout-padding-width;
    position: absolute;
    right: -7px;
    top: -65px;
}

#page-header #extra-headers .btn-group {
    white-space: nowrap;
}

// Breadcrumbs
.breadcrumb {
    padding: $layout-padding-width;
    border-bottom: 1px solid lighten($brand-navigation, 40%);
    background-color: lighten($brand-navigation, 70%);  //#ABB1B7;
    margin-bottom: 0;
}

.breadcrumb li {
    display: none;
}

.breadcrumb li a:hover {
    text-decoration: none;
}

.breadcrumb li.previous {
    display: inline;
    font-size: 1.2em;
}

.breadcrumb li.previous:before {
    content: none;
}

// Toolbar
#toolbar-container {
    position: absolute;
    right: 0;
    width: $navbar-width;
    top: 0;
    bottom: 0;
    box-shadow: 0px 0px 6px black;
    background: $body-bg;
    padding: $layout-padding-width;
            transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
            transform: scaleX(0.00001);
    -webkit-transform: scaleX(0.00001);
            transition: transform 0.2s ease-in-out;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    outline: 0;
    z-index: 1000;
}

#toolbar-container:target {
            transform: scaleX(1);
    -webkit-transform: scaleX(1);
}

.toolbar {
    box-shadow: none;
    border: 0px;
}

.toolbar .list-group-item {
    border: 0px;
    padding: 5px 0px;
    background-color: transparent;
}

.toolbar .list-group-item .glyphicon {
    color: $brand-primary;
}

.toolbar .list-group-item.disabled,
.toolbar .list-group-item.disabled a,
.toolbar .list-group-item.disabled .glyphicon {
    cursor: not-allowed;
    color: #959595;
}

.toolbar .list-group-item.disabled a:hover {
    text-decoration: none;
}

.toolbar .list-group-item.divider {
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 5px;
    border-top-color: $gray-lighter;
}

.toolbar h3 {
    font-size: 13px;
    padding: 0;
    margin: 10px 0;
    font-weight: 600;
    text-transform: uppercase;
    color: $brand-navigation;
}

#toggle-toolbar {
    //position: relative;
    float: right;
    font-size: 1.2em;
    padding: 0;
    color: $brand-primary;
}

// Responsive data table
table.data-table {
    width: 100%;
    margin-bottom: 0px;
}

.data-table > tbody > tr > th,
.data-table > tbody > tr > td {
    display: none;
    border-top: 0px;
    padding: 0px;
}

table.data-table tr:nth-of-type(odd) {
    background-color: transparent;
}

table.data-table tr td:nth-child(2) {
    display: block;
    font-size: 1.3em;
}

table.data-table tr td:nth-child(2) a {
    display: block;
    padding: $layout-padding-width;
    border-bottom: 1px solid $table-border-color;
    margin-left: -14px;
    margin-right: -14px;
}

table.data-table tr td:nth-child(2) a:after {
    content: attr(data-secondary-info);
    display: block;
    font-size: 0.8em;
    color: $text-color;
}

table.data-table th.checkboxcol,
table.data-table td.checkboxcol {
    width: 1%;
}

table.data-table thead tr.action-strip td {
    position: relative;
    padding: 0;
}

table.data-table thead tr.action-strip .filter {
    padding: $table-cell-padding;
    border: 1px solid $table-border-color;
}

table.data-table thead tr.action-strip .actions-container {
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
    position: absolute;
}

table.data-table thead tr.action-strip .actions {
    display: block;
    padding: 18px $table-cell-padding $table-cell-padding $table-cell-padding;
    background-color: lighten($brand-navigation, 70%);
    border: 1px solid lighten($brand-navigation, 40%);
    height: 100%;
}

table.data-table thead tr.action-strip .actions p {
    display: inline;
    padding-right: $table-cell-padding;
}

table.data-table thead tr.action-strip .actions p span {
    font-weight: bold;
}

table.data-table thead ul.filter-items {
    padding-left: 0px;
    margin-top: $padding-base-vertical;
    margin-bottom: $padding-base-vertical;
}

table.data-table thead ul.filter-items li {
    display: inline;
    padding: 0 $table-cell-padding 0 $table-cell-padding;
    border-right: 1px solid $table-border-color;
}

table.data-table thead ul.filter-items li:first-child {
    padding-left: 0;
}

table.data-table thead ul.filter-items li:last-child {
    border-right: 0px;
}

table.data-table thead ul.filter-items .checkbox {
    display: inline;
    margin-right: $padding-base-vertical;
}

// Pagination
.pagination-container .item-summary {
    display: block;
    text-align: center;
    padding: $layout-padding-width;
}

.pagination-container ul.pagination {
    display: block;
    margin: 0px;
}

.pagination-container ul.pagination li a,
.pagination-container ul.pagination li>span {
    display: none;
}

.pagination-container ul.pagination li a[rel="prev"],
.pagination-container ul.pagination li a[rel="next"] {
    display: block;
    margin-bottom: $layout-padding-width;
    border: 0px;
    font-size: 1.2em;
}

.pagination-container ul.pagination li a[rel="prev"] {
    float: left;
    margin-left: ($layout-padding-width * -1);
}

.pagination-container ul.pagination li a[rel="next"]{
    float: right;
    margin-right: ($layout-padding-width * -1);
}

// Tabs
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    border-top: 3px solid;
    margin-top: -2px;
    border-top-color: $brand-navigation;
}

.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
    background-color: $nav-tab-hover-bg;
}

.tab-content {
    padding: 15px;
    border-left: 1px solid $gray-lighter;
}

.tab-content h3 {
    margin-bottom: $layout-padding-width;
}

// Profile page format
.entity-profile ul {
    list-style: none;
    padding: 0;
}

.entity-profile li div.icon {
    display: none;
}

.entity-profile ul div.data-item {
    border-bottom: 1px solid $gray-lighter;
    padding: $layout-padding-width;
    background-color: transparent;
    margin: 0;
}

.entity-profile ul div.data-item .element {
    margin-bottom: $layout-padding-width;
}

.entity-profile ul div.data-item p {
    margin: 0;
}

.entity-profile ul div.data-item hr {
    display: none;
}

.entity-profile ul div.data-item button.action-menu-toggle {
    border: 0;
    background: transparent;
    float: right;
    color: $navigation-heading;
}

.entity-profile ul div.data-item button.action-menu-toggle:focus {
    border: none !important;
    outline: none;
}

.entity-profile ul div.data-item .dropdown-menu {
    right: 0;
    left: auto;
    margin-top: 20px;
}

.entity-profile ul div.data-item span.heading,
.entity-profile ul div.data-item span.action,
.entity-profile ul div.data-item span.sub {    
    display: block;
}

.entity-profile ul div.data-item span.heading {    
    font-weight: 800;
}

.entity-profile ul div.data-item span.action {    
    margin-top: 5px;
}

div.data-item span.sub,
.entity-profile ul div.data-item span.sub {    
    color: $navigation-heading;
    text-transform: lowercase;
    font-variant: small-caps;
}

// Search page format
div.search-form-container {
    margin-bottom: $layout-padding-width;
}

div.search-form-container form.search-form button.submit-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: $layout-padding-width;
}

.search-results.no-results {
    font-size: 1.5em;
    text-align: center;
    margin-top: 3em;
}

.search-results h3 {
    margin-top: $layout-padding-width;
}

.search-results .search-result-item {
    margin-top: $layout-padding-width;
    border-left: 2px solid;
    padding-left: 5px;
}

.search-results .search-result-item.entity-person {
    border-color: $brand-entity-person;
}
.search-results .search-result-item.entity-account {
    border-color: $brand-entity-account;
}

.search-results .search-result-item p.primary {
    font-size: 1.2em;
    margin: 0;
}

.search-results .search-result-item p.secondary {
    margin: 0;
}

// Profile pictures
.profile-picture-container {
    text-align: center;    
}

.profile-picture {
    width: 150px;
    height: auto;
    margin-bottom: $layout-padding-width;
    border-radius: 75px;
}

// Microformats
p.h-adr span {
    display: block;
}

// Data panels
.data-item {
    padding: $layout-padding-width;
    padding-bottom: 5px;
    margin-bottom: $layout-padding-width;
    background-color: $brand-data-panel;
}

.data-item.primary {
    background-color: #fffae5;
}

.data-item .data-header {
    border-bottom: 1px solid;
    padding-bottom: 2px;
    margin-bottom: 10px;
    border-bottom-color: #bbbbbb;
}

.data-item .data-header h4 {
    display: inline;
}

.data-item .data-header span.action {
    float: right;
    text-transform: lowercase;
}

.data-item .data-header span.heading {
    font-weight: 800;
}

.data-action {
    padding: $layout-padding-width;
}

dl.data-list {
    margin-bottom: 0;
}

dl.data-list dt {
    color: #555555;
}

dl.data-list dd {
    padding-bottom: $layout-padding-width;
    //font-size: $text-size-large;
}

// Modal dialog
.full-bleed {
    padding: 0px;
}

.full-bleed .row {
    margin: 0;
}

.full-bleed iframe {
    margin-bottom: -5px;
}

.full-bleed .content {
    padding: $layout-padding-width;
}

.modal-dialog hr {
    margin-top: 5px;
}

.modal-spinner {
    background-image: url('../images/spinner-64.gif');
    background-repeat:no-repeat;
    background-position: center center;
    height: 150px;
}

// Profile pictures
.profile-picture-container {
    text-align: center;    
}

.profile-picture {
    width: 150px;
    height: auto;
    margin-bottom: $layout-padding-width;
    border-radius: 75px;
}



/*.bootstrap-tagsinput {
    background-color: $input-bg;
    border: 1px solid $input-border;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    padding: 4px 6px;
    vertical-align: middle;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
}

.bootstrap-tagsinput input {
    width: auto;
    border: none;
    background: 0 0;
    outline: 0;
}

.bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
}

span.tag {
    background-color: $tags-default-bg;
    color: $tags-color;
    display: inline-block;
    padding: 0px 5px 2px 5px;
    margin-bottom: 4px;
    text-transform: lowercase;
    font-variant: small-caps;
}

span.tag a {
    color: $tags-color;
}

// Entity single select control styles
.bootstrap-tagsinput.entity-select-single span.twitter-typeahead {
    width: 100%;
}

.bootstrap-tagsinput.entity-select-single div.tt-menu {
    width: 100%;
}

.bootstrap-tagsinput .tag {
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}

.bootstrap-tagsinput .tag.single-select {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    margin-right: -6px;
    margin-left: -6px;
    margin-top: -4px;
    padding-top: 5px;
    margin-bottom: -4px;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    text-transform: none;
    font-variant: normal;
    background-color: #eef1f4;
}

.bootstrap-tagsinput .tag.single-select [data-role="remove"] {
    float: right;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "\00d7"; // Symbol for &times; character
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

// Autocomplete
.tt-hint {
    color: #959595;
}

.tt-menu {
    background-color: $dropdown-bg;
    padding: 5px;
    border: 1px solid $dropdown-fallback-border; // IE8 fallback
    border: 1px solid $dropdown-border;
    border-radius: $border-radius-base;
    @include box-shadow(0 6px 12px rgba(0,0,0,.175));
}

.tt-suggestion.tt-selectable {
    margin: 0px -5px;
    padding: 0px 5px;
}

.tt-suggestion.tt-selectable:hover {
    cursor: pointer;
    text-decoration: none;
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-hover-bg;
}*/

// Entity labels
.label-entity-person {
    background-color: $brand-entity-person !important;
}

.label-entity-user {
    background-color: $brand-entity-user !important;
}

.label-entity-account {
    background-color: $brand-entity-account !important;
}

// Forms
.radio,
.checkbox {
    margin-left: 20px;
}

.radio label,
.checkbox label {
    margin-left: -20px;
}

label + .radio,
label + .checkbox {
    margin-top: 0;
}

// Selectize JS control
@import "resources/assets/sass/selectize"; 

.selectize-control::before {
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	content: ' ';
	z-index: 2;
	position: absolute;
	display: block;
	top: 50%;
	right: 16px;
	width: 16px;
	height: 16px; 
	margin: -8px 0 0 0;
	background: url('../images/spinner-64.gif');
	background-size: 16px 16px;
	opacity: 0;
}
.selectize-control.loading::before {
	opacity: 0.6;
}

// Tags
span.tag,
.tag-control.multi .selectize-input > div {
    background-color: $tags-default-bg;
    color: $tags-color;
    display: inline-block;
    padding: 0px 5px 2px 5px;
    margin-bottom: 4px;
    text-transform: lowercase;
    font-variant: small-caps;
    border-radius: $border-radius-base;
}

.tag-control.multi .selectize-input > div.active {
    background-color: $brand-primary;
}

span.tag a {
    color: $tags-color;
}

// Process messages
.alert-error {
    @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

// Inline form validation messages
.alert-inline {
    padding: 5px;
    border-top: none;
}

// Autocomplete
ul.ui-autocomplete {
    z-index: ($zindex-modal + 1);
    padding: 5px 0;
    margin: 2px 0 0; // override default ul
    list-style: none;
    font-size: $font-size-base;
    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    background-color: $dropdown-bg;
    border: 1px solid $dropdown-fallback-border; // IE8 fallback
    border: 1px solid $dropdown-border;
    border-radius: $border-radius-base;
    @include box-shadow(0 6px 12px rgba(0,0,0,.175));
}

ul.ui-autocomplete .ui-menu-item {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
}

ul.ui-autocomplete .ui-menu-item.ui-state-focus {
    margin: 0;
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-hover-bg;   
}

/******************************************************************************
 * Breakpoint-specific rules                                                  *
 *                                                                            *
 * By default, styles are written for $screen-xs size, and are overridden by  *
 * larger breakpoint styles                                                   *
 ******************************************************************************/
 
// Small screen / tablet (768px)
@media (min-width: $screen-sm-min) {
    #page-header #extra-headers {
        position: relative;
        top: auto;
        right: auto;
    }
    
    // Fallback to regular layout for data table
    table.data-table {
        width: 100%;
    }

    .data-table > tbody > tr > th,
    .data-table > tbody > tr > td {
        display: table-cell;
        padding: $table-cell-padding;
        line-height: $line-height-base;
        vertical-align: top;
        border-top: 1px solid $table-border-color;
    }

    table.data-table tr:nth-of-type(odd) {
        background-color: $table-bg-accent;
    }

    table.data-table tr td:nth-child(2) {
        display: table-cell;
        font-size: 1em;
    }

    table.data-table tr td:nth-child(2) a {
        display: inline;
        padding: 0;
        margin: 0;
        border-bottom: 0px;
    }

    table.data-table tr td:nth-child(2) a:after {
        content: "";
        display: none;
    }

    table.data-table th {
        background-color: #ffffff; //$brand-navigation;
        border-top: 0 !important;
        border-bottom: 2px solid $brand-primary;
        color: $brand-navigation;//#ffffff;
        font-weight: 800;
    }

    table.data-table td.footer {
        padding: 1px;
        border-top: 0px;
        background-color: $brand-primary;
    }

    // Pagination
    .pagination-container .item-summary {
        display: inline-block;
        padding: $padding-base-vertical 0 0 0;
    }

    .pagination-container ul.pagination {
        float: right;
        margin: 0px;
    }

    .pagination-container ul.pagination li a,
    .pagination-container ul.pagination li>span {
        display: inline;
        border: 0px;
    }

    .pagination-container ul.pagination li a[rel="prev"],
    .pagination-container ul.pagination li a[rel="next"] {
        font-size: 1em;
        margin: 0px;
    }
}

// Medium screen / desktop (992px)
@media (min-width: $screen-md-min) {
    // Fixed header nav
    .nav-container .branding {
        text-align: left;    
    }
    
    .nav-container .branding a {
        margin-left: 50px;
    }

    // Page heading
    #page-header .page-title {
        padding-bottom: 5px;
    }
    
    // Breadcrumbs
    .breadcrumb li {
        display: inline;
    }

    .breadcrumb li.previous {
        display: inline;
        font-size: 1em;
    }

    .breadcrumb > li + li.previous:before {
        content: "/ ";
    }

    .page-title {
        margin-bottom: 0px;
    }
    
    // Right-hand toolbar
    #toolbar-container {
        position: inherit;
        width: $navbar-width;
        box-shadow: none;
        transform: scaleX(1);
        padding-left: 0;
        float: right;
        width: $navbar-width;
    }
    
    // Main content container
    .content-container {
        padding-left: $layout-padding-width;
        padding-right: $layout-padding-width;
        padding-top: $layout-padding-width;
    }      
}

// Large screen / wide desktop (1200px)
@media (min-width: $screen-lg-min) {
    // Fixed left hand nav
    .nav-container {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 250px;
        margin-top: 0;
        margin-bottom: 0;
        overflow-y: auto;
    }
    
    .nav-container .collapse {
        display: block;
    }
    
    .nav-container .branding {
        text-align: left;
    }
    
    .nav-container .branding a {
        margin-left: 0;
    }
    
    .nav-container .branding .nav-toggle {
        display: none;
    }
    
    .nav-container .profile-button {
        bottom: $layout-padding-width;
        left: $layout-padding-width;
        right: auto;
        top: auto;
        width: ($navbar-width - ($layout-padding-width * 2));
    }
    
    .nav-container .profile-button button {
        width: 100%;
    }
    
    .nav-container .profile-button .caret {
        border-top: 0;
        border-bottom: $caret-width-base dashed;
        border-bottom: $caret-width-base solid \9; // IE8
        content: "";
    }
    
    .nav-container .profile-button .dropdown-toggle {
        padding-top: 5px;
        padding-bottom: 5px;    
        padding-left: 5px;
        text-align: left;
    }
    
    .nav-container .profile-button .dropdown-toggle span.username {
        padding-left: 5px;    
    }
    
    .nav-container .profile-button .dropdown-toggle:hover,
    .nav-container .profile-button .dropdown-toggle:focus {
        background-color: $nav-link-hover-bg;
    }
   
    .nav-container .profile-button .dropdown-menu {
        top: auto;
        bottom: 100%;
        margin-bottom: 2px;
        width: 100%;
    }

    // Breadcrumb
    .breadcrumb {
        position: relative;
        margin-left: $navbar-width;
        margin-top: ($layout-padding-width * -1);
    }
    
    // Main content container
    .content-container {
        margin-left: $navbar-width;
        padding-left: $layout-padding-width;
        padding-right: $layout-padding-width;
        padding-top: $layout-padding-width;
    }    
    
    // Toolbar
    #toolbar-container {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .entity-profile ul div.data-item {
        padding: $layout-padding-width $layout-padding-width $layout-padding-width 60px;
    }
    
    .entity-profile ul div.data-item hr {
        display: block;
        margin-right: ($layout-padding-width * -1);
    }
    
    .entity-profile ul div.data-item .element {
        margin-bottom: 0;
    }
    
    .entity-profile li div.icon {
        display: block;
        width: 60px;
        height: 60px;
        float: left;
        padding-top: $layout-padding-width;
        text-align: center;
        font-size: 2em;
        color: $navigation-heading;
    }
}